.additional {
  padding-top: 13px;
  padding-bottom: 17px;
}

.additional__block {
  margin-bottom: 15px;
}

.additional__caption {
  margin: 0;
  margin-bottom: 13px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-black;
}

.additional__list {
  display:flex;

  margin: 0;

  font-size: 14px;
  line-height: 1;
  color: $color-black;
}

.additional__value {
  margin:0;
  margin-left:auto;
}

@media (min-width:$tablet-width) {
  .additional__block {
    display: flex;
  }
}

@media (min-width:$desktop-width) {
  .additional {
    display: flex;
    justify-content: space-between;
  }
}
