.button {
  @include wrap();

  display:block;

  padding:10px 30px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  color:$color-white;

  background:$color-green;

  &--white {
    color: $color-grey;
    background:$color-white-grey;
  }

  &--cover-btn {
    font-size: 14px;
    line-height: 1.29;
  }

  &:hover {
    background:$color-green-dark;
  }

  &:active {
    opacity: 0.8;

    background:$color-green-dark;
  }

  &--white:hover {
    background:$color-dark-grey;
  }

  &--white:active {
    opacity: 0.8;

    background:$color-dark-grey;
  }
}

@media (min-width:$tablet-width) {
  .button {
    &--cover-btn {
      margin: 0;
      margin-left: 89px;
      padding: 15px 25px;

      width: 246px;

      font-size: 20px;
      line-height: 1;
    }

    &--white {
      width: 250px;
    }

    &--form {
      margin: 0;
      padding: 16px 25px;

      width: 282px;

      font-size: 20px;
      line-height: 1;
    }
  }
}

@media (min-width:$desktop-width) {
  .button {
    &--cover-btn {
      margin-left: 190px;
    }

    &--white {
      width: 170px;
    }

    &--form {
      width: 570px;
    }
  }
}
