.button {
  display:block;

  width:300px;
  margin: 0 20px;
  padding:10px 30px;

  font-family: "Oswald",Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  color:$color-white;

  background:$color-green;

  &--white {
    color: $color-grey;
    background:$color-white-grey;
  }
}

@media (min-width:768px) {
  .button {
    margin: 0 70px;
  }
}
