.catalog-main {
  padding-top: 15px;
  margin-bottom: 35px;
}

.catalog-main__caption {
  @include wrap();

  margin-bottom: 29px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
  text-align: left;
}

@media (min-width:$desktop-width) {
  .catalog-main__flex {
    display: flex;
    justify-content: space-between;
  }
}
