$color-cover-green: #64a83b;

.cover {
  z-index: 5;
  position: relative;

  width: 100%;
  min-height: 304px;
  margin-bottom: 23px;
  padding-top: 26px;

  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0px;

  /*&::after {
    content: "";

    position: absolute;
    z-index: 1;

    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 304px;

    background-color: $color-cover-green;
  }*/
}

.cover__caption {
  @include wrap();

  z-index: 5;
  position: relative;

  margin-bottom: 25px;

  font-family:$Oswald;
  font-weight:400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: $color-white;
}

.cover__message {
  z-index: 5;
  position: relative;

  margin-bottom: 25px;

  font-family:$Oswald;
  font-weight:400;
  font-size: 14px;
  line-height: 1;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
}

.cover__img {
  @include wrap();

  display: block;

  margin-bottom: 8px;
}

.cover__btn {
  @include wrap();

  z-index: 5;
  position: relative;

  font-size: 14px;
  line-height: 1.29;
}

@media (min-width:$tablet-width) {
  .cover {
    margin-bottom: 530px;
    padding-top: 53px;

    background: none;
  }

  .cover__caption {
    margin-left: 117px;
    margin-bottom: 41px;

    width: 427px;

    font-size: 60px;
    text-align: left;
    color: $color-black;
  }

  .cover__message {
    margin-top: 0;
    margin-left: 117px;
    margin-bottom: 49px;

    font-size: 20px;
    text-align: left;
    color: $color-black;
  }

  .cover__img {
    z-index: 1;
    position: absolute;
    top: 254px;
    left: 30px;

    display: block;

    margin: 0;
    width: auto;
  }

  .cover__btn {
    margin: 0px;
    margin-left: 120px;
    padding: 20px 0;

    width: 260px;

    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
}

@media (min-width:$desktop-width) {
  .cover {
    z-index: -1;

    margin:0;
    margin-top:-120px;
    padding-top: 225px;

    width: 1440px;
    min-height: 696px;

    background-image: url("/img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: 720px;
    background-position-y: 0px;
  }

  .cover__caption {
    margin-left: 190px;
  }

  .cover__message {
    margin-left: 190px;
    margin-bottom: 52px;
  }

  .cover__img {
    top: 144px;
    left: 560px;
  }
}
