$color-cover-green: #64a83b;

.cover {
  position: relative;

  width: 100%;
  min-height: 304px;
  margin-bottom: 23px;
  padding-top: 26px;

  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0px;

  /*&::after {
    content: "";

    position: absolute;
    z-index: 1;

    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 304px;

    background-color: $color-cover-green;
  }*/
}

.cover__caption {
  @include wrap();

  margin-bottom: 25px;

  font-family:$Oswald;
  font-weight:400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: $color-white;
}

.cover__message {
  margin-bottom: 25px;

  font-family:$Oswald;
  font-weight:400;
  font-size: 14px;
  line-height: 1;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
}

.cover__img {
  @include wrap();

  display: block;

  margin-bottom: 8px;
}

.cover__btn {
  @include wrap();
  font-size: 14px;
  line-height: 1.29;
}

@media (min-width:$tablet-width) {
  .cover {
    background: none;
  }

  .cover__caption {
    margin-left: 120px;

    font-size: 60px;
    text-align: left;
    color: $color-black;
  }

  .cover__message {
    margin-left: 120px;

    font-size: 20px;
    text-align: left;
    color: $color-black;
  }

  .cover__btn {
    width: 260px;
    margin-left: 120px;
    padding: 20px 0;

    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
}

@media (min-width:$desktop-width) {
  .cover__caption {
    margin-left: 184px;
  }

  .cover__message {
    margin-left: 184px;
  }

  .cover__btn {
    margin-left: 184px;
  }
}
