.example {
  padding-top: 17px;
  padding-bottom: 35px;

  background: $color-white-grey;
}

.example__block1 {
  margin-bottom: 34px;
}

.example__caption {
  @include wrap();

  margin-bottom: 23px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
}

.example__speach {
  @include wrap();

  margin-bottom: 39px;

  font-family: Arial,sans-serif;
  font-weight :400;
  font-size: 14px;
  line-height: 1.3;
}

.example__list-block {
  @include wrap();
}

.example__list {
  list-style: none;

  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 19px;
  padding: 0;
}

.example__item {
  position: relative;
  z-index: 2;

  width: 124px;

  text-align: center;

  &::before {
    content: "";

    position: absolute;
    top: -14px;
    z-index: 1;

    display: block;

    width: 124px;
    height: 56px;

    border: 1px solid $color-grey-light;
    border-radius: 2px;
  }
}

.example__list-result {
  display: block;
  margin-bottom: 8px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.example__list-caption {
  position: relative;
  z-index: 2;

  margin: 0 auto;
  width: 87px;

  font-family: Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-transform: lowercase;

  opacity: 0.8;
  background: $color-white-grey;
}

.example__result-speach {
  @include wrap();

  font-family: $Oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  text-align: center;
}

.example__cat-img {
  display: block;

  margin: 0 auto;
  margin-bottom: 31px;

  &--cat2 {
    display: none;
  }
}

.example__result-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;

  width: 210px;
}

.example__result-line {
  position: relative;

  width: 83px;
  height: 14px;

  background-color: $color-white;

  border: 1px solid $color-grey-light;
  border-radius: 7px;

  &::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 5px;

    display: block;

    width: 35px;
    height: 6px;

    background-color: $color-green;

    border-radius: 3px;
  }
}

.example__result-button {
  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  border: none;

  background: none;
}

@media (min-width:$tablet-width) {
  .example {
    position: relative;

    padding-top: 43px;
    padding-bottom: 67px;

    box-shadow: inset 0px 620px 0px 0px $color-white;

    &::after {
      content: "";

      z-index: 2;
      position: absolute;
      top: 620px;
      right: 0px;

      display: block;

      width: 384px;
      height: 462px;

      background-color: $color-fon05cat;

      box-shadow:
        384px 0px 0px 0px $color-fon05cat,
        768px 0px 0px 0px $color-fon05cat,
        1152px 0px 0px 0px $color-fon05cat,
        1536px 0px 0px 0px $color-fon05cat,
        1920px 0px 0px 0px $color-fon05cat,
        2304px 0px 0px 0px $color-fon05cat,
        2688px 0px 0px 0px $color-fon05cat;
    }
  }

  .example__caption {
    margin-bottom: 65px;

    font-size: 60px;
    line-height: 1;
  }

  .example__list-block {
    padding-top: 70px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__speach {
    padding-right: 10px;

    font-size: 16px;
    line-height: 1.5;
  }

  .example__list-result {
    font-size: 30px;
    line-height: 1.23;
  }

  .example__list-caption {
    width: 140px;

    font-size: 14px;
    line-height: 1;
    text-transform: lowercase;

    background: $color-white;
  }

  .example__item {
    margin-right: 41px;

    width: 162px;

    &::before {
      top: -17px;
      z-index: 1;

      display: block;

      width: 162px;
      height: 72px;
    }
  }

  .example__result-speach {
    margin: 0;
    margin-top: -5px;

    width:182px;

    font-size: 20px;
    line-height: 1.2;
    text-align: right;
  }

  .example__block1 {
    z-index: 5;
    position: relative;

    margin-bottom: 64px;
  }

  .example__block2 {
    z-index: 5;
    position: relative;
  }

  .example__cat-img {
    margin-bottom: 18px;

    padding-left: 14px;
  }

  .example__result-button {
    position: relative;

    padding: 0;
    padding-top: 1px;
    padding-bottom: 7px;

    font-size: 20px;
    line-height: 1;

    border-bottom: 1px dotted $color-dark-dark-grey;
  }

  .example__result-block {
    width: 570px;
  }

  .example__result-line {
    margin-top: -4px;

    width: 428px;
    height: 6px;

    background-color: $color-result-line;

    border: none;

    border-radius: 3px;

    &::after {
      top: -14px;
      left: 198px;

      width: 36px;
      height: 36px;

      background-color: $color-white;

      border: 1px solid $color-border-dark;
      border-radius: 50%;

      box-shadow: 0px 1px 1px 1px $color-border-dark;
    }

    &::before {
      content: "";

      z-index: 2;
      position: absolute;

      display: block;

      top: 0px;
      left: 212px;

      width: 8px;
      height: 8px;

      background-color: $color-green;

      border-radius: 50%;
    }
  }

  .example__list-br {
    display: none;
  }
}

@media (min-width:$desktop-width) {
  .example {
    padding-top: 25px;

    box-shadow: inset 0px 160px 0px 0px $color-white;

    background: $color-white-grey;

    &::after {
      content: "";
      top: 160px;
      right: 0px;

      width: 384px;
      height: 460px;

      background-color: $color-fon05cat;

      box-shadow:
        384px 0px 0px 0px $color-fon05cat,
        768px 0px 0px 0px $color-fon05cat,
        1152px 0px 0px 0px $color-fon05cat,
        1536px 0px 0px 0px $color-fon05cat,
        1920px 0px 0px 0px $color-fon05cat,
        2304px 0px 0px 0px $color-fon05cat,
        2688px 0px 0px 0px $color-fon05cat;
    }
  }

  .example__flex-wrap {
    @include wrap();

    display: flex;
    flex-wrap: wrap;
  }

  .example__block1 {
    margin: 0;

    width: 610px;
  }

  .example__block2 {
    margin: 0;

    width: 610px;
  }

  .example__caption {
    margin-bottom: 145px;
  }

  .example__speach {
    margin: 0;

    width: 445px;
  }

  .example__list-block {
    display: block;

    margin: 0;
    padding-top: 84px;

    width: auto;
  }

  .example__list {
    margin: 0;
    margin-bottom: 20px;

    width: 366px;
  }

  .example__item {
    margin: 0;
    margin-left: 0px;

    width: 163px;
  }

  .example__result-speach {
    margin-top: 55px;

    width: 330px;

    text-align: left;
  }

  .example__result-speach2 {
    margin-left: 59px;
  }

  .example__cat-img {
    margin-left: -40px;
    margin-top: -60px;
    padding: 0;
  }

  .example__result-block {
    margin-top: 43px;
    margin-left: 39px;
  }
}
