.form-checkbox {
  margin-bottom: 21px;
}

.form-checkbox__input {
  display: none;
}

.form-checkbox__label {
  position: relative;

  margin-left: 46px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.258;
  text-transform: uppercase;
  color: $color-black;
}

.form-checkbox__input + label::before {
  content:"";

  position: absolute;
  top: -2px;
  left: -46px;

  width: 30px;
  height: 30px;

  border: 1px solid $color-grey-light;
}

.form-checkbox__input:active + label {
  opacity: 0.5;
}

.form-checkbox__input:active + label::before {
  opacity: 0.5;
}

.form-checkbox__input:checked + label::after {
  content:"";

  position: absolute;
  top: 7px;
  left: -40px;

  width: 21px;
  height: 16px;

  background-image: url("/img/icon-tick.svg");
}

.form-checkbox__input:active + label::after {
  opacity: 0.5;
}

@media (min-width:$tablet-width) {
  .form-checkbox {
    margin-bottom: 50px;

    width: 285px;
  }

  .form-checkbox__label {
    margin-left: 59px;

    font-size: 20px;
    line-height: 1;
  }

  .form-checkbox__input + label::before {
    content:"";

    position: absolute;
    top: -4px;
    left: -58px;

    width: 40px;
    height: 40px;

    border: 1px solid $color-grey-light;
  }

  .form-checkbox__input:checked + label::after {
    content:"";

    position: absolute;
    top: 9px;
    left: -48px;

    width: 21px;
    height: 16px;

    background-image: url("/img/icon-tick.svg");
  }
}

@media (min-width: $tablet-width) {
  .form-checkbox {
    width: 245px;

    &:nth-child(2n-1) {
      margin-right: 100px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-checkbox {

    &:nth-child(2n-1) {
      margin-right: 0px;
    }
  }
}
