.form-tel__label {
  font-style: "Oswald",Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16/18;
  text-transform: uppercase;
  color: #444444;
}

.form-tel__input {
  padding: 5px;

  outline: none;
}

.form-tel__input:active {
  border-color: black;
}

.form-tel__input:invalid {
  border-color: red;
}

.form-tel__input::-webkit-input-placeholder {
  font-style: "Oswald",Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16/18;
  text-transform: uppercase;
  color: #444444;
  }

.form-tel__input::-moz-placeholder          {
  font-style: "Oswald",Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16/18;
  text-transform: uppercase;
  color: #444444;
  }/* Firefox 19+ */

.form-tel__input:-moz-placeholder           {
  font-style: "Oswald",Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16/18;
  text-transform: uppercase;
  color: #444444;
  }/* Firefox 18- */

.form-tel__input:-ms-input-placeholder      {
  font-style: "Oswald",Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16/18;
  text-transform: uppercase;
  color: #444444;
  }
