.form-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 14px;

  &--contact {
    position: relative;
  }
}

.form-text__label {
  margin-right: 14px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $color-black-light;

  &--contact {
    margin-right: 6px;
  }
}

.form-text__input {
  padding: 13px;

  width: 100%;
  height: 45px;

  outline: none;

  &:active {
    border-color: $color-form-active;
  }

  &:active+svg path {
    fill: $color-green;
  }
/*Применение модификатора --necondition должно быть описано в js*/
  &--necondition {
    border-color: $color-form-invalid;
  }

  &--necondition+svg path {
    fill: $color-form-invalid;
  }

  &::placeholder {
    font-family: $Oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color-grey;
  }
}

.form-text__icon {
  position: absolute;
  top: 15px;
  left: 247px;

  &--mail {
    width: 17px;
    height: 13px;
  }

  &--tel {
    width: 20px;
    height: 20px;
  }
}

@media (min-width:$tablet-width) {
  .form-text {
    margin-bottom: 20px;
  }

  .form-text__label {
    margin-right: 17px;

    font-size: 20px;
    line-height: 1;

    &--contact {
      margin-right: 13px;
    }
  }

  .form-text__input {
    margin-left: 3px;
    padding: 17px;
    padding-top: 20px;

    height: 52px;

    &::placeholder {
      font-size: 20px;
      line-height: 1;
    }
  }

  .form-text__icon {
    top: 19px;
    left: 596px;
  }
}

@media (min-width:$desktop-width) {
  .form-text__icon {
    top: 19px;
    left: 532px;
  }

  .form-text--contact {
    width: 570px;

    &:first-child {
      margin-right: 80px;
    }
  }
}
