.form__part {
  border: none;

  &--border {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
  }
}


.form__list {
  list-style: none;
  padding: 0;
}

.form__item {
  margin: 5px 0px;
}

.form__speach-end {
  margin: 10px auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2575;
  text-transform: uppercase;
  color: $color-grey;
}

@media (min-width:768px) {
  .form__list--checkbox-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .form__btn-flex {
    display: flex;
  }
}

@media (min-width:1438px) {
  .form__flex1 {
    display: flex;
  }

  .form__list {
    display: flex;
  }
}
