.maps-block {
  padding-top: 15px;

  background: $color-white-grey;

  &--index {
    background: $color-white;
  }
}

.maps-block__flex {
  @include wrap();

  position: relative;

  display: flex;

  margin-bottom: 12px;

}

.maps-block__captoin {
  width: 140px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.maps-block__speach {
  width: 140px;

  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.maps-block__map {
  display: block;

  margin: 0 auto;
  height: 360px;
  width: 100%;

  background: url("/img/bg-map-mobile@1x.png");
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("/img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }

}

.maps-block__iframe {
  width: 100%;
  height: 100%;

  border: none;
}

@media (min-width: $tablet-width) {
  .maps-block {
    padding-top: 47px;
  }

  .maps-block__flex {
    position: relative;

    justify-content: space-between;

    margin-bottom: 40px;

    width: 624px;
  }

  .maps-block__captoin {
    font-size: 20px;
    line-height: 1.25;
  }

  .maps-block__speach {
    width: 160px;

    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }

  .maps-block__speach-sp {
    display: block;

    margin-top: 20px;
  }

  .maps-block__map {
    position: relative;

    height: 400px;
    width: auto;

    background: url("/img/bg-map-tablet@1x.png");
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/bg-map-tablet@2x.png");
      background-size: 767px auto;
    }
  }

}

@media (min-width: $desktop-width) {
  .maps-block {
    position: relative;

    margin: 0 auto;
    width: 100%;

    padding: 0;
  }

  .maps-block__flex {
    z-index: 5;
    position: absolute;
    top: 95px;
    left: calc(50% - 610px);

    margin: 0;
    padding-left: 80px;
    padding-right: 84px;
    padding-top: 48px;
    padding-bottom: 40px;

    width: 570px;

    background: $color-white;

    pointer-events: none;
  }

  .maps-block__speach {
    text-align: left;
  }

  .maps-block__map {
    margin: 0;
    width: 100%;

    background: url("/img/bg-map-desktop@1x.png");
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("/img/bg-map-desktop@2x.png");
      background-size: 1440px auto;
    }
  }
}
