.order-all {
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-color: $color-green;
}

.order-all__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: $color-white;
}
