.order-plus {
  padding-top: 78px;
  padding-bottom: 24px;
}

.order-plus__capture {
  @include wrap();

  position: relative;

  margin-bottom: 8px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $color-black;
  text-align: center;

  &::after {
    content: "";

    position: absolute;
    top: -53px;
    left: 125px;

    display: block;

    width: 30px;
    height: 30px;

    background-image: url("/img/icon-plus-mobile.svg");

    opacity: 0.5;
  }
}

.order-plus__products-speach {
  @include wrap();

  margin-bottom: 20px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.34;
  color: $color-black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .order-plus {
    margin-top: 82px;
    padding-top: 163px;
    padding-bottom: 39px;

    width: 324px;

    border: 1px solid $color-textaria-border;
  }

  .order-plus__capture {
    margin-bottom: 27px;

    width: 150px;

    font-size: 20px;
    line-height: 1;

    &::after {
      top: -110px;
      left: 45px;

      width: 60px;
      height: 60px;

      background-image: url("/img/icon-plus.svg");
    }
  }

  .order-plus__products-speach {
    margin-bottom: 87px;

    width: 175px;

    font-size: 16px;
    line-height: 1.1;
  }
}

@media (min-width: $desktop-width) {
  .order-plus {
    width: 245px;
  }
}
