.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header__logo-picture {
  display: block;
  width: 190px;
  height: 40px;
}

.page-header__up {
  @include wrap();

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 65px;

  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include wrap();

    display: flex;
    justify-content: space-between;

    padding-top: 16px;
  }

  .page-header__up {
    margin: 0;
    width: auto;
  }

  .page-header__menu {
    margin-top: 6px;
  }

  .page-header__logo-picture {
    width: 173px;
    height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 47px;
  }

  .page-header__logo-picture {
    width: 202px;
    height: 70px;
  }
}

