.production-card {
  padding-bottom: 23px;
}

.production-card__flex-block {
  @include wrap();

  display:flex;

  margin-bottom: 1px;
}

.production-card__block {
  padding-top: 19px;
}

.production-card__capture {
  margin: 0;
  margin-bottom: 14px;

  width: 85px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color:$color-black;
}

.production-card__list {
  margin: 0;
}

.production-card__item-block {
  display:flex;
  justify-content: space-between;

  width: 140px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.34;
  color: $color-black;
}

.production-card__item-value {
  margin: 0;
}

@media (min-width:$tablet-width) {
  .production-card {
    position: relative;

    margin: 140px 15px;

    background-color: $color-grey-light;
  }

  .production-card__img {
    position: absolute;

    top: -150px;
  }

  .production-card__flex-block {
    display: block;
  }
}
