.production__list {
  list-style: none;

  padding: 0;
}

.production__item {
  margin-top: -1px;

  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

@media (min-width:$tablet-width) {
  .production__list {
    display: flex;
    flex-wrap: wrap;
  }
}
