.production__list {
  list-style: none;

  padding: 0;
}

.production__item {
  border-bottom:1px solid $color-border;
}

@media (min-width:768px) {
  .production__list {
  display: flex;
  flex-wrap: wrap;
  }
}
