.production__list {
  list-style: none;

  padding: 0;
}

.production__item {
  margin-top: -1px;

  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

@media (min-width: $tablet-width) {
  .production {
    padding-top: 84px;
  }

  .production__list {
    @include wrap();

    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .production__item {
    margin-right: 80px;


    width: 245px;

    &:nth-child(2n-1) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0px;
    }
  }

  .production__item-order {
    width: 245px;
  }

}
