.program-main__capture {
  font-style: "Oswald",Arial,sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
  color: $color-black-light;
}

.program-main__speach {
  font-style: "Oswald",Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: $color-black-light;
}
