.program-main {
  padding-top: 15px;
}

.program-main__capture {
  @include wrap();

  margin-bottom: 25px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
  color: $color-black-light;
  text-align: left;
}

.program-main__speach {
  @include wrap();

  font-family: $Oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color: $color-black-light;
  text-align: left;
}
