.programs__btn {
  padding: 20px 70px;

  font-family:"Oswald",Arial,sans-serif;
  font-weight:400;
  font-size: 14px;
  line-height: 14/18;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  background: $green;
}

.programs__list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.programs__item {
  background: $white-grey;
}

.programs__caption {
  padding-left: 105px;
  font-family:"Oswald",Arial,sans-serif;
  font-weight:400;
  font-size: 24px;
  line-height: 24/37;
  text-transform: uppercase;

  &--min-cat-icon {
    background: $white-grey url("/img/icon-cat-slim.svg") no-repeat top left;
  }

  &--big-cat-icon {
    background: $white-grey url("/img/icon-cat-pro.svg") no-repeat top left;
  }
}

.programs__speach {
  width: 240px;

  font-weight:400;
  font-size: 14px;
  line-height: 14/18;

  border-top:1px solid $border;
}

.programs__link {
  position: relative;

  font-family:"Oswald",Arial,sans-serif;
  font-weight:400;
  font-size: 16px;
  line-height: 16/16;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  &::after {
    content: "";

    position: absolute;
    top: -20px;
    left: 105px;

    display: block;

    width: 30px;
    height: 30px;

    background: url("/img/icon-right-arrow-long.svg") no-repeat;
  }
}
