.textarea {
  resize: none;

  width: 250px;
  min-height: 150px;

  border:1px solid black;

  &::placeholder {
    font-style: "Oswald",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.258;
    text-transform: uppercase;
    color: $color-grey;
  }
}
