.textarea {
  resize: vertical;
  padding: 10px;
  padding-left: 14px;

  width: 280px;
  min-height: 150px;

  font-family: $Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.258;
  text-transform: uppercase;
  color: $color-black;

  border:1px solid $color-textaria-border;

  overflow: none;

  &::placeholder {
    font-family: $Oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.258;
    text-transform: uppercase;
    color: $color-grey;
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .textarea {
    padding: 9px;
    padding-left: 19px;

    width: 100%;
    min-height: 175px;

    font-size: 20px;
    line-height: 1.5;

    &::placeholder {
      font-size: 20px;
      line-height: 1.5;
      opacity: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .textarea {
    width: 1220px;
  }
}
