body {
  background: #ffffff;
  box-sizing: border-box;
}

.visually-hidden {
  position:absolute;

  width:1px;
  height:1px;
  margin:-1px;
  padding:0;

  border:0;

  clip:rect(0 0 0 0);
  overflow:hidden;
}

@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/page-menu.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/page-header.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/cover.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/programs.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/exposition.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/example.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/maps-block.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/footer-up.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/catalog-main.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/production.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/button.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/production-card.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/order-plus.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/additional-products.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/additional.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/order-all.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/program-main.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/form.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/form-text.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/form-radio.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/form-email.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/form-tel.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/textarea.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/form-checkbox.scss";
@import "C:/Users/Михаил/.ssh/635545-cat-energy/source/sass/blocks/form__speach-end.scss";
