$color-grey-light: #cdcdcd;
$color-black: #000000;
$color-black-light: #111111;
$color-white: #ffffff;
$color-green: #68b738;
$color-grey: #444444;
$color-white-grey: #f2f2f2;
$color-border: #ededed;
